/* Base styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #05ffa3; /* Light green background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styling */
.container {
    background-color: #02ff96;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* Center the container */
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    background-color: #e6f2e6; /* Light green background for the form */
    padding: 30px;
    border-radius: 8px;
    max-width: 700px; /* Adjusted width */
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2e8b57; /* Dark green */
}

h3, h4 {
    margin-top: 20px;
    color: #66cdaa; /* Medium green */
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #3cb371; /* Medium sea green */
}

input[type="text"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #90ee90; /* Light green border */
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0fff0; /* Light green background */
}

button {
    padding: 10px 20px;
    background-color: #32cd32; /* Lime green */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #228b22; /* Forest green on hover */
}

div {
    margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
    color: #3cb371; /* Medium sea green */
}

button[type="button"] {
    background-color: #6b8e23; /* Olive drab */
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #556b2f; /* Dark olive green */
}
